<h1>Stupid Coaching</h1>
<form action="/answer">
  <label for="question">Ask Your coach anything</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
